<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baguker - Batu Gunting Kertas Mini Game</title>
    <link rel="stylesheet" href="css/game.css">
</head>
<body>
    <div class="container index">
        <div class="front-logo"><img src="./assets/logo.jpg" alt="logo"></div>
        <a href="game.html"><div class="button">Trial Here!</div></a>
    </div>
</body>
</html>