<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baguker - Batu Gunting Kertas Mini Game</title>
    <link rel="stylesheet" href="css/game.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <a href="index.html"><div class="button">Back</div></a>
            <a href="game.html"><div class="button">↻</div></a>
            <div class="p">Batu Gunting Kertas</div>

        </div>

        <div class="game">
            <tr>
                <td>
                    <div class="player">
                    <img src="./assets/batu.png" alt="batu" class="batu">
                    <img src="./assets/gunting.png" alt="gunting" class="gunting">
                    <img src="./assets/kertas.png" alt="kertas" class="kertas">
                    <div class="p">Player</div>

                </div>
                </td>
                <td>
                    <div class="result">Versus</div>
                </td>
                <td>
                    <div class="computer">
                    <div class="p">Computer</div>
                    <img src="./assets/batu.png" alt="batu" class="batu">
                    <img src="./assets/gunting.png" alt="gunting" class="gunting">
                    <img src="./assets/kertas.png" alt="kertas" class="kertas">
                </div>
                </td>
            </tr>
        </div>
    </div>
    <script src="controller.js"></script>
</body>
</html>