<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge Chapter 3</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!--Navbar-->
    <div class="container-fluid background">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGO</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav1">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#section1">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Me</a>
            </li>
          </ul>
          <ul class="navbar-nav mb-4 mb-lg-0 ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
  
    <!--Section 1-->
    <div class="container-fluid banner" id="section1">
        <div class="container text-center">
            <h1 class="display-5">PLAY TRADITIONAL GAME</h1>
            <p class="quote my-5">Experience new traditional game play</p>
            <a href="#">
                <button class="btn btn-warning btn-lg">PLAY NOW</button>
            </a>
            <div class="quote1">
              <p>The Story</p>
              <img src="./assets/scroll-down.svg">
            </div>  
        </div>
    </div>
    </div>
    <!--Section 2-->
    <div class="container-fluid the-games" id="section2">
        <div class="container">
            <div class="row">
                <div class="col-md-3 quote2">
                    <p>What's so special?</p>
                    <p class="display-5">THE GAMES</p>
                </div>
                <div class="col-md-8 carousel1">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="img1">
                          </div>
                          <div class="carousel-item">
                            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="img2">
                          </div>
                          <div class="carousel-item">
                            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="img3">
                          </div>
                          <div class="carousel-item">
                            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="img4">
                          </div>
                          <div class="carousel-item">
                            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="img5">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <!--Section 3-->
    <div class="container-fluid" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="paragraph paragraph-features">What's so special?</div>
                    <div class="display-5 display-5-features">FEATURES</div>
                    <p class="features-quote">TRADITIONAL GAMES</p>
                    <h6>if you miss your childhood, we provide <br> many traditional games here</h6>
                    <p class="features-quote">GAME SUIT</p>
                    <p class="features-quote">TBD</p>
                    </div>
                </div> 
              </div>
            </div>
        </div>
    </div>
    <!--Section 4-->
    <div class="container-fluid" id="section4">
      <div class="container">
      <p class="text-center">Can my computer run this game?</p>
        <div class="row">
          <div class="col">
            <div class="display-5">SYSTEM <br> REQUIREMENTS</div>
            <table>
              <tr>
                <td><P class="features-quote">OS :</P>
                  <p>Windows 7 64-bit only <br> (No OSX support at this time)</p>
                </td>
                <td><P class="features-quote">PROCESSOR :</P>
                  <p>Intel Core 2 Duo @2.4 GHZ or <br> AMD Athlon X2 @2.8 GHZ</p>
                </td>
              </tr>
              <tr>
                <td><P class="features-quote">MEMORY :</P>
                  <p>4 GB RAM</p>
                </td>
                <td><P class="features-quote">STORAGE :</P>
                  <p>8 GB available space</p>
                </td>
                <tr>
                  <td><P class="features-quote">GRAPHICS :</P>
                    <p>NVIDIA GeForce GTX 660 2GB or <br> AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                  </td>
                </tr>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--Section 5--> 
    <div class="container-fluid" id="section5">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col p-4">
            <p class="display-5">TOP SCORES</p>
            <p>This top score from various game provided <br> on this platform</p>
            <a href="#">
              <button class="btn btn-warning btn-lg">see more</button>
            </a>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col card-end">
              <div class="card mb-3 bg-card px-4 pt-2 pb-2"  style="max-width: 500px;">
              <div class="row d-flex align-items-center">

                <div class="col-md-2 p-2 ">
                  <img src="./assets/evan-lahti.jpg"width="70px" style="border-radius: 100%;" alt="...">
                </div>

                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Evan Lahti</h5>
                    <p class="caption">PC Gamer</p>
                  </div>
                </div>

                <div class="col-md-2"><img src="./assets/twitter.svg" alt="twitter"></div>
              </div>   
              <p class="card-text">"One of my gaming highlights of the year."</p>
                <p class="card-time">June 18,2021</p>
              </div>
              </div>
            </div>  
            <div class="row">
              <div class="col card-end">
              <div class="card mb-3 bg-card px-4 pt-2 pb-2" style="max-width: 500px;">
              <div class="row d-flex align-items-center">

                <div class="col-md-2 p-2">
                  <img src="./assets/jada-griffin.jpg" width="70px" style="border-radius: 100%;" alt="...">
                </div>

                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Jada Griffin</h5>
                    <p class="caption">Nerdreactor</p>
                  </div>
                </div>

                <div class="col-md-2"><img src="./assets/twitter.svg" alt="twitter"></div>
              </div>
                
              <p class="card-text">"The next big thing in the world of streaming<br>and survival games"</p>
                <p class="card-time">July 10,2021</p>
              </div>
              </div>
             </div> 
            <div class="row">
              <div class="col card-start">
              <div class="card mb-3 bg-card px-4 pt-2 pb-2" style="max-width: 500px;">
              <div class="row d-flex align-items-center">

                <div class="col-md-2 p-2">
                  <img src="./assets/aaron-williams.jpg" width="70px" style="border-radius: 100%;" alt="...">
                </div>

                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Aaron Williams</h5>
                    <p class="caption">Uproxx</p>
                  </div>
                </div>

                <div class="col-md-2"><img src="./assets/twitter.svg" alt="twitter"></div>
              </div>
                
              <p class="card-text">"Snoop Dog Playing The Wildly Entertaining 'sos' Is Ridiculous "</p>
                <p class="card-time">December 24,2018</p>
              </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <!--section 6-->
    <div class="container-fluid" id="section6">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img src="assets/skull.png" class="skull" alt="skull">
          </div>
          <div class="col-md-7">
            <div class="pb-3">Want to stay in <br> touch?</div>
            <div class="display-5">NEWSLETTER <br> SUBSCRIBE</div>
            <div class="caption">In order to start receiving our news, all ytou have to do is enter 
              your email <br> address. Everything else will be taken care of by us. We will send your emails <br>
              containing information about game. We don't spam.
            </div>
            <form class="row d-flex align-items-center mt-4 mb-2">
              <div class="col-md-4 mb-2">
                <input type="form-control" id="inputemail" placeholder="youremail@binar.com" style="background-color: rgba(255, 255, 255, 0.842);">
              </div>
              <div class="col-md-8 mb-2">
                <button type="submit" class="btn btn-warning pt-2 pb-2">Subscribe Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> 
    <!--footer--> 
    <div class="row-lg d-flex align-items-center footer">
      <div class="col footer justify-content-end">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link quote3" href="#section1">MAIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link quote3" href="#section2">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link quote3" href="#features">GAME FEATURES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link quote3" href="#section4">SYSTEM REQUIREMENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link quote3" href="#section5">QUOTES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link quote3" href="#"><img src="assets/facebook.svg" alt="facebook"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link quote3" href="#"><img src="assets/twitter.svg" alt="twitter"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link quote3" href="#"><img src="assets/vector.svg" alt="vector"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link quote3" href="#"><img src="assets/twitch.svg" alt="twitch"></a>
          </li>
        </ul>
      </div>
    </div> 

    <div class="row footer row-lg">
      <div class="col-md-6">
        <p class="caption copyright">© 2018 Your Games, Inc. All Rights Reserved</p>
      </div>
      <div class="col-md-6">
        <p class="caption privacypolisi">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p>
      </div>
    </div>
  </body>
</html>
