html,
body {
  font-family: arial;
  padding: 2px;
  color: white;
}
.background {
  background: url(./assets/main-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 160vh;
  width: 100%;
}
.banner {
  padding-top: 20%;
  padding-bottom: 20%;
  color: white;
}
nav {
  background-color: rgba(0, 0, 0, 0.447);
}

.quote1 {
  padding-bottom: 30rem;
}
.nav1 {
  padding-left: 10rem;
}
.navbar-nav {
  gap: 3rem;
}

.quote2 {
  padding-top: 30px;
}

button {
  padding-top: 50px;
}

#section2 {
  background: url(assets/the-games-bg.jpg) no-repeat center center;
  background-size: cover;
}

.carousel1 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.quote2 {
  padding-top: 15rem;
  padding-bottom: 20rem;
}

#features {
  background: url(assets/features.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 20%;
  padding-left: 60%;
}

.features-quote {
  padding-top: 10%;
  color: #ffc107;
  font-size: 22px;
}

#section4 {
  background: url(assets/requirements.png) no-repeat center center;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 20%;
}

#section5 {
  background: url(assets/top-score-bg.png) no-repeat center center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}

.card {
  background-color: rgb(56, 54, 54);
}

.card-title {
  color: #ffc107;
}

.caption {
  font-weight: 300;
  font-size: 15px;
}

.card-time {
  font-size: 10px;
  color: rgb(185, 185, 185);
}
.btn {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
}

#section6 {
  background: black;
  background-size: cover;
} 

.skull {
  padding-top: 5%;
  padding-bottom: 5%;
}

.caption {
  font-size: 13px;
}

.footer {
  background-color: black;
  padding-left: 20%;
}

.quote3 {
  color: white;
  font-size: 10px;
}

.copyright {
  font-size: 10px;
  color: rgb(185, 185, 185);
}


